
#app{
    height: 8%;
    width: 100%;
    background-color: rgb(233, 232, 232);
    border-bottom: 2px solid rgb(107, 106, 106);

}

.header-2 {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    font-family: 'Sawarabi Mincho', serif;
}

.header-1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 100px;
    text-align: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}


.logo-max {
    display: flex;
    height: 4rem;
    width: 4rem;
    border-radius: 90px;
}
